@import url('https://fonts.googleapis.com/css2?family=Acme&family=Old+Standard+TT&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Acme; sans-serif;
    font-weight: 400;
}