@import url('https://fonts.googleapis.com/css2?family=Acme&family=Old+Standard+TT&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Acme; sans-serif;
    font-weight: 400;
    color: deepskyblue;
}

/* headings and logo */

h1, h2 {
    font-family: Old Standard TT; sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: blue
}

#logo {
    float: left;
    font-size: 280%;
}

/* Navigation links */

#menu-bar {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu-bar, #logo {
    line-height: 75px;
}

#menu-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu-bar a {
    text-decoration: none;
    color: inherit;
}

#menu-bar a:hover {
    border-bottom: 1px solid deepskyblue;
}

.active {
    border-bottom: 1px solid deepskyblue;
}